@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@layer utilities {
  .border-pixel {
    border: 1.5px solid #000;
  }
  .text-xxs {
    font-size: 0.65rem;
    line-height: 1rem;
  }
}

/* Scrollbar minimal */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
